<div class="ui grid" style="padding: 10px">
    <div class="twelve wide column">
        <h2 class="ui header">
            <i class="tags icon"></i>
            <div class="content">
                Instacash
            </div>
        </h2>
    </div>
</div>

<div class="ui divider"></div>