<template id='questions-template'>
    <div class="ui raised purple segment">
        <div class="ui purple ribbon huge label">
            Questions
        </div>
        <div class="ui right floated animated fade positive button" data-bind="click: showAdd">
            <div class="visible content">Add New</div>
            <div class="hidden content">
                <i class="add sign icon"></i>
            </div>
        </div>

        <table class="ui table segment">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: data">
                <tr>
                    <td data-bind="text: $index() + 1" class="left floated"></td>
                    <td data-bind="text: $data.Description"></td>
                    <td>
                        <div class="ui buttons right floated">
                            <div class="ui animated fade teal button" data-bind="click: $parent.showEdit.bind($root)">
                                <div class="visible content">Edit</div>
                                <div class="hidden content">
                                    <i class="edit icon"></i>
                                </div>
                            </div>
                            <div class="or"></div>
                            <div class="ui animated fade red button" data-bind="click: $parent.showDelete.bind($root)">
                                <div class="visible content">Delete</div>
                                <div class="hidden content">
                                    <i class="remove icon"></i>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="QuestionFormModal" class="ui small modal raised blue segment">
        <i class="close icon"></i>
        <div class="ui purple ribbon huge label">
            Question
        </div>
        <div class="ui form raised segment" id="addQuestionForm">
            <div class="content">
                <div class="field">
                    <label>Description</label>
                    <textarea data-bind="value: Description" rows="2" placeholder="Question Here"></textarea>
                    @*<div class="ui left icon corner labeled icon input">
                        <input type="text" placeholder="Description" data-bind="value: Description" name="description">
                        <i class="tags icon"></i>
                        <div class="ui corner label">
                            <i class="icon asterisk"></i>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="actions">
                <div class="ui buttons right floated">
                    <div class="ui animated fade teal submit button" data-bind="click: add">
                        <div class="visible content">Save</div>
                        <div class="hidden content">
                            <i class="save icon"></i>
                        </div>
                    </div>
                    <div class="or"></div>
                    <div class="ui animated fade red button">
                        <div class="visible content">Cancel</div>
                        <div class="hidden content">
                            <i class="remove icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="QuestionDeleteModal" class="ui small modal">
        <i class="close icon"></i>
        <div class="header">
            Delete
        </div>
        <div class="content">
            Do you really want to delete the record?
        </div>
        <div class="actions">
            <div class="ui buttons">
                <div class="ui positive button" data-bind="click: del">Yes</div>
                <div class="or"></div>
                <div class="ui primary button">No</div>
            </div>
        </div>
    </div>
</template>

