*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 60px;
}

.m-b-reset{
	margin-bottom: 0px !important;
}

.padding-reset{
	padding: 0px !important;
}

.ui .message{
	padding-top: 30px !important;
	padding-bottom:  50px !important;
}

.m-top-10{
	margin-top: 10px !important;
}

.hidden{
	opacity: 0;
}

.ui .button{
	text-transform: capitalize;
}

#mainSidebar {
    background-color: #0B3B0B;
    /*background-color: #000000;*/
    /*background-color: rgba(0, 0, 0, .8);*/
    width: 220px !important;
}

.ui.inverted.menu {
background: #0B3B0B !important;
}

#headerRow {
    padding-left: 170px !important;
    margin-right: 20px !important;
    /*background-color: #333;*/
}

.ui.grid > .row {
    padding-right: 20px;
    padding-left: 20px;
}

#bodyRow {
    
    /*margin-top: 20px !important;
    padding-right: 30px !important;*/
    /*padding-left: 170px !important;
    margin-left: 20px !important;*/
}

@media all and (max-width: 650px) {
    #MainMenu{display: none}
}

@media all and (min-width: 651px) {
    #ResponsiveMenu{ display: none }
}