<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=04e88fdb-e3db-4d43-aec8-a44200e3347f.sqlserver.sequelizer.com;Database=db04e88fdbe3db4d43aec8a44200e3347f;User ID=alykcbvavbgilmud;Password=kwccmAMfoaDSd4V8sy6QEpdB2TkRBPMNapsPuduGV2jfEh75pqbdFgK4sHjAq4KG;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
